# This is the top of the java project
config.stopBubbling = true

# I like chain accessors
lombok.accessors.chain = true

# Add generated annotations
#lombok.addJavaxGeneratedAnnotation = true
lombok.addLombokGeneratedAnnotation = true

# Add constructor properties
lombok.anyConstructor.addConstructorProperties = true

# Why would we not call the super for equals and hashcode
lombok.equalsAndHashCode.callSuper = call

# Use Guava
lombok.singular.useGuava = true

# SneakyThrows is evil
lombok.sneakyThrows.flagUsage = error

# This is Java not Scala
lombok.val.flagUsage = error
lombok.var.flagUsage = error
